//colors
$color-primary: #3b5998;
$color-secondary: #8b9dc3;
$color-secondary-dark: #5a3b98;
$color-tertiary: #dfe3ee;
$color-light: #f7f7f7;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

//font sizes
$default-font-size: 1.6rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
