@import "abstracts/_functions";
@import "abstracts/_mixins";
@import "abstracts/_variables";

@import "base/_animations";
@import "base/_base";
@import "base/_typography";
@import "base/_utilities";

@import "layout/_grid";
@import "layout/_footer";
@import "layout/_navigation";

@import "pages/_about";
@import "pages/_projects";
@import "pages/_education";
