.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20rem;
  background-color: $color-primary;

  &-icons {
    text-align: center;
    margin-bottom: 2rem;

    &_link {
      background-color: $color-secondary-dark;
      padding: 1.5rem;
      color: $color-light;
      border-radius: 50%;

      &:hover {
        background-color: $color-secondary;
        transition: all 0.2s;
      }
    }
    &_item {
      vertical-align: middle;
      font-size: 2.5rem;
    }
    &_button {
      display: none;
    }
  }

  &-nav {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    list-style: none;

    &-container {
      display: none;
      background-color: $color-primary;
    }

    &_item {
      padding: 1.6rem;
      text-align: center;
    }
    &_link {
      text-transform: uppercase;
      font-size: 2.4rem;
      font-weight: 700;
      color: $color-tertiary;
      text-decoration: none;

      &:hover {
        color: $color-secondary;
        transition: all 0.2s;
      }
    }
  }
}

//Responsive design

@include respond(tab-land) {
  .navbar {
    line-height: 7rem;
    height: 7rem;
    width: 100%;

    &-icons {
      position: relative;
      margin: auto;
      height: 100%;
      margin-bottom: 0;

      &_link {
        height: 100%;
        margin: 0 2.5rem 0 2.5rem;
        vertical-align: middle;
      }
      &_button {
        position: absolute;
        right: 2%;
        font-size: 4rem;
        color: $color-tertiary;
        display: initial;

        &:hover {
          color: $color-secondary;
        }
      }
    }
    &-nav {
      position: relative;
      height: 96%;
      left: initial;
      top: initial;
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      transform: translate(0, 0);

      &-container {
        display: none;
        background-color: $color-primary;
      }
      &_item {
        padding: 0;
        text-align: center;
        border: none;
      }
      &_link {
        text-transform: uppercase;
        font-size: 2.4rem;
        font-weight: 700;
        color: $color-tertiary;
        text-decoration: none;

        &:hover {
          color: $color-secondary;
          transition: all 0.2s;
        }
      }
    }
  }
}
