*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  min-height: 100%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }
}

body {
  cursor: default;
  box-sizing: border-box;
  backface-visibility: hidden;
  overflow-x: hidden;
  background-color: $color-light;
  padding: 0 5rem 0 25rem;
}
