.u-link-style {
  text-decoration: none;
  color: inherit;
}
.u-center-text {
  text-align: center !important;
}
.u-mb-8 {
  margin-bottom: 8rem !important;
}
.u-mb-4 {
  margin-bottom: 4rem !important;
}
.u-mb-2 {
  margin-bottom: 2rem !important;
}
.u-mt-10 {
  margin-top: 10rem !important;
}
.u-mt-4 {
  margin-top: 4rem !important;
}
.u-mt-2 {
  margin-top: 2rem !important;
}
