.section-about {
  padding-top: 10rem;
  width: 100%;
  min-height: 100vh;

  &_contacts {
    height: 3rem;
    width: 100%;
    @include respond(tab-land) {
      height: auto;
      width: 100%;
    }
  }
  &_items {
    float: left;
    width: 33.33%;
    @include respond(tab-land) {
      float: initial;
      width: 100%;
    }
  }
  &_email {
    &:hover {
      color: $color-primary;
    }
  }
  &_programs {
    height: 8rem;
    &--icons {
      text-align: center;
      float: left;
      width: 50%;
    }
  }
}
