.section-about {
  padding-top: 10rem;
  width: 100%;
  min-height: 100vh;

  &_contacts {
    height: 3rem;
    width: 100%;
  }
  &_items {
    float: left;
    width: 33.33%;
  }
  &_email {
    &:hover {
      color: $color-primary;
    }
  }
  &_programs {
    height: 8rem;
    &--icons {
      text-align: center;
      float: left;
      width: 33.33%;
    }
  }
}
